@primary-color: rebeccapurple;
@secondary-color:green;
.action{
  &.primary{
    background-color:blue;
    border-color:pink;
  }
}
nav.navigation > ul{
  background-color:inherit;
  color:#ffffff;
}
nav.navigation{
  //background-color:rebeccapurple;
  background-color: inherit;
}
.navigation .level0 > .level-top{
  color:#ffffff;
}
.page-header .panel.wrapper{
  background-color:black;
}
.page-header{
  background-color:#ccc;
}
.section-item-content.nav-sections-item-content {
  //background-color:rebeccapurple;
  background-color:@secondary-color;
}
.logo{
  border:1px solid black;
  min-width:100px;
}
